{% extends "base.html" %}

{% block content_title %}
Projects
{% if skill %} - {{skill.name}}{% endif %}
{% endblock %}
{% block content %}
{% block instructions %}
<p>Select a project request to connect with a student.
Click "Learn More" to view the <br/>full project application.
Click "Connect" to start mentoring a student!
</p>
{% endblock %}
<div id="connectModal" class="reveal-modal">
    <h1>Mentor this student</h1>
    <p>Connect with this student and start mentoring! We'll send
    and introduction email to both of you to kick it off.</p>
    <a class="nice radius large blue button accept">Connect</a>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div class="row">
    <div class="three columns">
        {% block sidebar %}
        <dl class="nice vertical tabs">
            <dd><a href="{% url project_category %}">Latest</a></dd>            
            {% for skill in skills %}
            <dd><a href="{% url project_category_skill skill.id %}">{{skill.name}}</a></dd>
            {% endfor %}
        </dl>
        {% endblock %}
    </div>
    <div class="nine columns">
        {% block detail_content %}
        {% for project in projects %}
        <div class="snippet">
            <a 
                class="nice radius small blue button connect" 
                style="float:right;"
                data-user-id="{{project.from_user.p2puprofile.p2pu_id}}"
                data-project-request-id="{{project.id}}">
                Connect
            </a>
            <a 
                href="{% url project_detail project.id %}" 
                class="nice radius small blue button" 
                style="float: right; margin-right: 10px;">
                Lean more »
            </a>
            <p>
                {% with project.added_by as user %}
                <img src="{{user.p2puprofile.picture}}" class="profilepicture small"/>                
                <span>{{user.first_name}}
                    {{user.last_name}}</span>
                {% endwith %}
            </p>
            <h2>{{project.title}}</h2>
            <p>{{project.description|truncatewords:"30"}}</p>
            {% if project.sponsor_set.count > 0 %}
                <img src="/static/images/supporters.png" style="margin-right: 10px;" />
                <b>{{project.sponsor_set.count}} supporters</b>
            {% endif %}
        </div>
        {% endfor %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/javascripts/jquery.reveal.js"></script>
<script type="text/javascript" src="/static/javascripts/project.js"></script>
{% endblock %}
