{% extends "mentorship_category.html" %}

{% block content_title %}
{% with mentorship.from_user as user %}               
{{user.first_name}}
{{user.last_name}}
wants to learn 
{{mentorship.learning.name}}
{% endwith %}
{% endblock %}

{% block instructions %}
<a style="margin-top: -10px;"href="{% url mentorship_category %}">« Back</a>
{% endblock %}

{% block sidebar %}
<p><img src="{{user.p2puprofile.picture}}" class="profilepicture large" /></p>
<h2>Skills</h2>
{% for skill in user.p2puprofile.skills.all %}
    <span class="tag">
        <a href="{% url mentorship_category_skill skill.id %}">{{skill.name}}</a>
    </span>
{% endfor %}
{% if mentorship.sponsor_set.count > 0 %}
<div style="margin-top: 20px;">
    <img src="/static/images/supporters.png" style="margin-right: 10px;" />
    <b>{{mentorship.sponsor_set.count}} supporters</b>
</div>
{% endif %}
{% endblock %}

{% block detail_content %}
{% if not mentorship.closed %}  
<div class="alert-box">
    <span>Get started mentoring this student!</span>
    <a 
        class="nice radius blue button connect" 
        style="margin-left: 10px;" 
        data-user-id="{{mentorship.from_user.p2puprofile.p2pu_id}}"
        data-skill-id="{{mentorship.learning.id}}"
        data-mentorship-request-id="{{mentorship.id}}">
        Start Mentoring {{mentorship.from_user.first_name}} »
    </a>
</div>
{% endif %}

<h2>Learning</h2>
<p>
    <span class="tag">
        <a href="{% url mentorship_category_skill mentorship.learning.id %}">{{mentorship.learning.name}}</a>
    </span>
</p>
<h2>Why</h2>
<p>{{mentorship.why}}</p>
<h2>About Me</h2>
{% with mentorship.from_user.p2puprofile as profile %}
<p>{{profile.bio}}</p>
<small>
    <p><b>Location</b>: {{profile.location}}<br/>
    <b>Language</b>: {{profile.language}}
    </p>
</small>
{% endwith %}
<h2>What I've done so far</h2>
<p>{{mentorship.so_far}}</p>
{% if not mentorship.closed %}
<a 
    class="nice radius blue button connect" 
    data-user-id="{{mentorship.from_user.p2puprofile.p2pu_id}}"
    data-skill-id="{{mentorship.learning.id}}"
    data-mentorship-request-id="{{mentorship.id}}">
    Start Mentoring {{mentorship.from_user.first_name}} »
</a>
{% endif %}

{% endblock %}
