{% extends "base.html" %}
{% load pagination_tags %}
{% load url_tags %}
{% block content_title %}
Projects
{% if skill %} - {{skill.name}}{% endif %}
{% endblock %}

{% block content %}
{% block instructions %}
<p>Select a project request to connect with a student.
Click "Learn More" to view the <br/>full project application.
Click "Connect" to start mentoring a student!
</p>
{% endblock %}
<div id="connectModal" class="reveal-modal">
    <h1>Join this Project</h1>
    <p>Once you are accepted we will connect you with the 
    project leader you can start collaborating. </p>
    <div id="alert" class="alert-box error" style="display: none;"></div>
    <form>
        <textarea id="note" placeholder="Add a note about why you would like to join"></textarea>
    </form>
    <a class="nice radius large blue button accept">Send Request</a>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div class="row">
    <div class="three columns">
        {% block sidebar %}
        <dl class="nice vertical tabs">
            <dd><a href="{% url project_category %}">Latest</a></dd>
            <dd><a href="{% url project_category %}?my_projects=true">My Projects</a></dd>
            <dd><a href="{% url project_category %}?mentor=true">Mentoring</a></dd>
            <dd><a href="{% url project_category %}?learner=true">Learning</a></dd>
        </dl>
        {% endblock %}
    </div>
    <div class="nine columns">
        {% block detail_content %}
        <p>
            <b>Filter By Skill</b>:
            <select id="skillSelect" style="width: 250px;">
                <option></option>
                {% for skill in skills %}
                <option value="{{skill.id}}">{{skill.name}}</option>
                {% endfor %}
            </select>
        </p>
        {% autopaginate projects 10 %}
        {% for project in projects %}
        <div class="snippet">
            <a 
                href="{% url project_detail project.id %}" 
                class="nice radius small blue button" 
                style="float: right; margin-right: 10px;">
                Lean more »
            </a>
            {% if project.added_by == request.user %}
            <a
                href="{% url project_edit project.id %}"
                class="nice radius small blue button"
                style="float:right; margin-right: 10px">
                Edit » 
            </a>
            {% endif %}
            <p>
                {% with project.added_by as user %}
                <img src="{{user.p2puprofile.picture}}" class="profilepicture small"/>                
                <span>
                    {{user.first_name}} {{user.last_name}}
                    is {% if project.project_type == 'l' %}looking for mentors{% else %}mentoring{% endif %}
                </span>
                {% endwith %}
            </p>
            <h2>{{project.title}}</h2>
            <p>{{project.description|truncatewords:"30"}}</p>
            {% if project.sponsor_set.count > 0 %}
                <img src="/static/images/supporters.png" style="margin-right: 10px;" />
                <b>{{project.sponsor_set.count}} supporters</b>
            {% endif %}
        </div>
        {% empty %}
        <i>No new projects.</i>
        {% endfor %}
        {% paginate %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/static/stylesheets/select2.css"></script>
<script type="text/javascript" src="/static/javascripts/select2.js"></script> 
<script>
    $(document).ready(function(){ 
        $("#skillSelect").select2({
            placeholder: "Select a skill"
        });
        $("select").on("change", function(e){
            console.log(e);
            window.location =  "{% server_scheme_and_netloc %}" + "/projects/" + "skill/" + e.currentTarget.value;
        });
    });
</script>
{% endblock %}
