{% extends "mentorship_category.html" %}
{% load pagination_tags %}
{% block content_title %} 
{{project.title}}
{% endblock %}
{% block instructions %}
{% if project.closed %}
<div class="alert-box error">This project is no longer accepting mentors or learners</div>
{% endif %}
<a style="position: absolute; top:0;" href="{% url project_category %}">« Back</a>
{% endblock %}

{% block sidebar %}
<p><img src="{{user.p2puprofile.picture}}" class="profilepicture large" /></p>
<h3>About {{project.added_by.first_name}}</h3>
{% with project.added_by.p2puprofile as profile %}
<p class="smaller">{{profile.bio}}</p>
<small>
    <p><b>Location</b>: {{profile.location}}<br/>
    <b>Language</b>: {{profile.language}}
    </p>
</small>
{% endwith %}
<h3>Skills</h3>
{% for skill in user.p2puprofile.skills.all %}
    <span class="tag">
        <a href="{% url project_category_skill skill.id %}">{{skill.name}}</a>
    </span>
{% endfor %}
{% endblock %}

{% block detail_content %}
{% if not project.closed %}  
<div class="alert-box">
    {% if project.project_type == 'l' %}
    <span>Get started mentoring this student!</span>
    <a 
        class="nice radius blue button connect" 
        style="margin-left: 10px;" 
        data-user-id="{{project.added_by.p2puprofile.p2pu_id}}"
        data-project-request-id="{{project.id}}">
        Mentor {{project.added_by.first_name}} » </a>
    {% else %}
    <span>Join this project and get mentored!</span>
    <a 
        class="nice radius blue button connect" 
        style="margin-left: 10px;" 
        data-user-id="{{project.added_by.p2puprofile.p2pu_id}}"
        data-project-request-id="{{project.id}}">
        Join this project » </a>
    {% endif %}
</div>
{% endif %}
{% if project.sponsor_set.count > 0 %}
<p>
    <img src="/static/images/supporters.png" style="margin-right: 10px;" />
    <b>{{project.sponsor_set.count}} supporters</b>
</p>
{% endif %}
<h2>About the Project</h2>
<p><b>Looking for: </b>{% if project.project_type == 'l' %} Mentors{% else %}Learners{% endif %}</p>
<p>{{project.description}}</p>
<h2>Skills Being Used</h2>
<p>
{% for skill in project.skills.all %}
    <span class="tag">
        <a href="{% url project_category_skill skill.id %}">{{skill.name}}</a>
    </span>
{% empty %}
<i>No skills listed</i>
{% endfor %}
</p>
<h2>You should join if...</h2>
<p>{{project.looking_for}}</p>
{% if not project.closed %}  
    {% if project.project_type == 'l' %}
    <a class="nice radius blue button connect">
        Mentor {{project.added_by.first_name}} » 
    </a>
    {% else %}
    <a class="nice radius blue button connect">
        Join this project » 
    </a>
    {% endif %}
{% endif %}
<br/><br/>
{% include "project_log.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/javascripts/jquery.reveal.js"></script>
<script type="text/javascript" src="/static/javascripts/project.js"></script>
{% endblock %}
