{% extends "form_template.html" %}
{% block form_title %}Get Supporters{% endblock %}
{% block form %}
<p>Mentors are limited and in high demand. We need help 
identifying the most committed students. Each supporter 
you get will improve your odds of getting picked by a mentor faster!</p>
<div class="roundedbox" style="background: #efefef;">
    <p>I need help getting a {{mentorship_request.learning.name}}
    mentor on P2PU. Show your support and I will get bumped up the line. 
    Thanks! 
    <a href="{{mentorship_request.share_url}}">{{mentorship_request.share_url}}</a>
    </p>
    <b>Share this:</b>
    <div class="fb-send" data-href="http://mentorship.p2pu.org" data-font="arial"></div>
</div>
<div style="margin-top: 20px;">
    <a href="{% url mentorship_request_form 'thanks' %}" class="nice radius large blue button">Finish »</a>
</div>
{% endblock %}
{% block scripts %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=415752375129986";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
