{% extends "form_template.html" %}
{% block form_title %}Get Supporters{% endblock %}
{% block form %}
<p>Mentors and learners are in high demand. We need help 
identifying the most committed to learning and mentoring. Each supporter 
you get will improve your odds of getting mentors and learners to join your project!</p>
<div class="roundedbox" style="background: #efefef;">
    <p>
    {% if project.project_type == 'l' %}
    I need help getting a mentor on P2PU. Show your support and 
    I will get bumped up the line. 
    Thanks! 
    {% else %}
    I'm looking to mentor people learning {{project.skills.all|join:", "}}.
    Show your support for my mentorship project, thanks!
    {% endif %}
    <a href="{{project.share_url}}">{{project.share_url}}</a>
    </p>
    <b>Share this:</b>
    <div class="fb-send" data-href="{{project.share_url}}" data-font="arial"></div>
</div>
<div style="margin-top: 20px;">
    <a href="{% url project_category %}" class="nice radius large blue button">Finish »</a>
</div>
{% endblock %}
{% block scripts %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=415752375129986";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
