{% extends "form_template.html" %}
{% block form_title %}Thanks!{% endblock %}
{% block form %}
<p><b>What happens next?</b></p>
<p>Your mentorship request will be sent to our
mentor community. A mentor can then choose to connect 
with you and you will receive an introduction email so 
you can get started. Keep learning on your own and we'll
do all we can to get you an awesome mentor to guide you.</p>
<p><b>Know anyone else interested in becoming a mentor or student?</b></p>
<p>Help us spread the word about the P2PU Mentorship program:</p>
<div class="fb-send" data-href="http://mentorship.p2pu.org" data-font="arial"></div>

{% endblock %}
{% block scripts %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=415752375129986";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
