{% extends 'base.html' %}
{% block content %}
{% endblock %}
{% block fullwidth %}
<div class="container">
    <div class="row" style="background: url('/static/images/homepage-background.png') no-repeat;">
        <div class="nine columns centered">
            <div align="center" style="padding: 180px 0 250px 0 ;"></div>
            <div class="row" style="margin-bottom: -50px;">
                <div class="twelve columns">
                    <div class="row">
                        <div class="six columns centered">
                            <div align="center">
                                <a
                                    style="border-radius: 100px; font-size: 24px;" 
                                    class="nice radius blue button roundedbox signup">Sign Up Today
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="signupDialog" class="reveal-modal">
    <h1>Signup</h1>
    <form id="signupForm" method="post" action="/">
        <div id="signupAlert" class="alert-box error" style="display:none;"></div>
        <p>
            <label>P2PU Username:</label><input id="p2pu_id"
            type="text" placeholder="enter your P2PU username"/>
            <label>Password:</label><input id="password"
            type="password" placeholder="enter your password"/>
        </p>
        <small>Don't have a P2PU account? <a href="http://www.p2pu.org">Signup here.</a></small>
        <input type="submit" class="nice radius large blue button" value="Submit and get started »"/>
        <img id="loading" src="/static/images/spinner.gif" style="display:none;"/>
    </form>
</div>
<div style="background: #efefef; padding: 100px 0 50px 0; border-top: 1px solid #cccccc;">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <img src="/static/images/how-it-works.png" />
                <div class="row" style="margin-top: 50px;">
                    <div class="six columns">
                        <h2><img src="/static/images/bullet.png" />For students</h2>
                        <p>
                        Connect with a mentor to help you learn faster. Mentors are in 
                        high demand, so share your customized learning goal web page with 
                        friends and family and get bumped up the priority list.
                        </p>
                        <a href="{% url signup %}" class="nice radius blue button signup">Signup »</a>
                    </div>
                    <div class="six columns">
                        <h2><img src="/static/images/bullet.png" />For mentors</h2>
                        <p>
                        Post a project you are working on and learners can request
                        to join. You get help with your project in exchange for
                        mentoring learners with the skills needed for the project.
                        </p>
                        <a href="{% url signup %}" class="nice radius blue button signup">Signup »</a>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="twelve columns">
                        <h2>About the Mentorship Program</h2>
                        <p>The P2PU Mentorship program is serious about bringing motivated
                        people together to learn and mentor. We've made it super easy 
                        to mentor or be mentored, but we need help to keep it going.
                        <div class="row">
                            <div class="six columns">
                                <h3>Progress Tracking</h3>
                                <p>Mentors and students are expected to fill out a regular update 
                                about what they have done. We'll turn that into a fun timeline 
                                to share with your supporters and the mentorship community. 
                                </p>
                            </div>
                            <div class="six columns">
                                <h3>Time Committment</h3>
                                <p>A typical mentorship lasts for about 1-2 months (or more) and 
                                weekly conversations between the mentor and student. It's up 
                                to you to pursue the mentorship how you want.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <h2 style="margin-top: 50px;">Success Stories</h2>
                <div class="row">
                    <div class="four columns">
                        <h3>Name here</h3>
                        <p>Sed a aliquet libero. Nulla mattis purus nec velit facilisis.</p>
                    </div>
                    <div class="four columns">
                        <h3>Name here</h3>
                        <p>Sed a aliquet libero. Nulla mattis purus nec velit facilisis.</p>
                    </div>
                    <div class="four columns">
                        <h3>Name here</h3>
                        <p>Sed a aliquet libero. Nulla mattis purus nec velit facilisis.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/javascripts/jquery.reveal.js"></script>
<script type="text/javascript" src="/static/javascripts/signup.js"></script>
{% endblock %}
