{% extends 'base.html' %}
{% block content %}
{% endblock %}
{% block fullwidth %}
<div class="container">
    <div class="row" style="background: url('/static/images/homepage-background.jpg') no-repeat;">
        <div class="nine columns centered">
            <div align="center" style="padding: 180px 0 250px 0 ;"></div>
            <div class="row" style="margin-bottom: -50px;">
                <div class="twelve columns">
                    <div class="row">
                        <div class="six columns centered">
                            <div align="center">
                                <a 
                                    style="border-radius: 100px; font-size: 24px;" 
                                    href="{% url signup "student" %}" 
                                    class="nice radius blue button roundedbox">Start a Project Today »
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background: #efefef; padding: 100px 0 50px 0; border-top: 1px solid #cccccc;">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <img src="/static/images/how-it-works.png" />
                <div class="row" style="margin-top: 50px;">
                    <div class="six columns">
                        <h2><img src="/static/images/bullet.png" />For students</h2>
                        <p>
                        Connect with a mentor to help you learn faster. Mentors are in 
                        high demand, so share your customized learning goal web page with 
                        friends and family and get bumped up the priority list.
                        </p>
                        <a href="{% url signup "mentor" %}" class="nice radius blue button">Signup »</a>
                    </div>
                    <div class="six columns">
                        <h2><img src="/static/images/bullet.png" />For mentors</h2>
                        <p>
                        Post a project you are working on and learners can request
                        to join. You get help with your project in exchange for
                        mentoring learners with the skills needed for the project.
                        </p>
                        <a href="{% url signup "mentor" %}" class="nice radius blue button">Signup »</a>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="twelve columns">
                        <h2>About the Mentorship Program</h2>
                        <p>The P2PU Mentorship program is serious about bringing motivated
                        people together to learn and mentor. We've made it super easy 
                        to mentor or be mentored, but we need help to keep it going.
                        <div class="row">
                            <div class="six columns">
                                <h3>Progress Tracking</h3>
                                <p>Mentors and students are expected to fill out a regular update 
                                about what they have done. We'll turn that into a fun timeline 
                                to share with your supporters and the mentorship community. 
                                </p>
                            </div>
                            <div class="six columns">
                                <h3>Time Committment</h3>
                                <p>A typical mentorship lasts for about 1-2 months (or more) and 
                                weekly conversations between the mentor and student. It's up 
                                to you to pursue the mentorship how you want.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <h2 style="margin-top: 50px;">Success Stories</h2>
                <div class="row">
                    <div class="four columns">
                        <h3>Name here</h3>
                        <p>Sed a aliquet libero. Nulla mattis purus nec velit facilisis.</p>
                    </div>
                    <div class="four columns">
                        <h3>Name here</h3>
                        <p>Sed a aliquet libero. Nulla mattis purus nec velit facilisis.</p>
                    </div>
                    <div class="four columns">
                        <h3>Name here</h3>
                        <p>Sed a aliquet libero. Nulla mattis purus nec velit facilisis.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
